<mat-toolbar>
  <button mat-icon-button class="example-icon" (click)="openRegistrationDialog()">
    <mat-icon>account_circle</mat-icon>
    <span> Log in / Register</span>
  </button>
</mat-toolbar>
<div>
  <img [src]="homepage_image" alt="">
</div>
<div class="homepage-info">
  <h1>THE COMMUNITY</h1>
  <p>Find Solutions, Ask Questions, Share Ideas. <br>
    Connect with users across the world.
  </p>
</div>
<div class="mat-info">
  <div class="align-icons">
    <mat-icon class="icon-1">group</mat-icon>
    <ul>
      <li><strong>{{totalUsers}}</strong></li>
      <li class="icon-text"><strong>Members</strong></li>
    </ul>
  </div>
</div>