<div class="container">
  <header>
    <a routerLink=""><span>←</span><strong>Back</strong></a>
  </header>
  <div class="card">
    <mat-card>
    <h2><strong>Login</strong></h2>
    <hr>
    <p>Login with your email and password:</p>
    <div class="example-container">
      <div class="form-container">
          <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <mat-form-field class="form-field" appearance="fill">
              <mat-label>Enter your email</mat-label>
              <input formControlName="emailID" type="email" matInput placeholder="pat@example.com" required>
              <mat-error *ngIf="loginForm.controls['emailID'].errors?.['required']">Email ID is required!</mat-error>
              <mat-error *ngIf="loginForm.controls['emailID'].errors?.['pattern']">This field is invalid!</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill" id="mat-form-field-password">
              <mat-label>Password</mat-label>
              <input formControlName="password" type="password" matInput required>
              <mat-error *ngIf="loginForm.controls['password'].errors?.['required']">Password is required!</mat-error>
              <mat-error *ngIf="loginForm.controls['password'].errors?.['minlength']">Password should be longer than 6
                characters!</mat-error>
              <mat-error *ngIf="loginForm.controls['password'].errors?.['maxlength']">Password can't be longer than 16
                characters!</mat-error>
            </mat-form-field>
            <button mat-raised-button type="submit">Log In</button>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div>